html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.title-top {
  width: 100%;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgb(39, 174, 96), rgba(24, 129, 80, 0.85));;
  -webkit-app-region: drag;
}

.title-name {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  line-height: 28px;
  -webkit-user-select: none;
}

.log-pan {
  width: 100%;
  height: calc(100% - 28px);
  position: absolute;
  top: 28px;
  overflow: scroll;
  background: repeating-linear-gradient(
    180deg,
    rgb(52, 73, 94),
    rgb(52, 73, 94) 2px,
    rgb(44, 62, 80) 2px,
    rgb(44, 62, 80) 4px
  );
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

.log-line-info, .log-line-warn, .log-line-error, .log-line-debug {
  padding-left: 10px;
  color: rgb(236, 240, 241);
  font-family: sans-serif;
  white-space: nowrap;
}

.log-line-info {
  border-left: 8px solid rgb(52, 152, 219);
}

.log-line-warn {
  border-left: 8px solid rgb(230, 126, 34);
}

.log-line-error {
  border-left: 8px solid rgb(231, 76, 60);
}

.log-line-debug {
  border-left: 8px solid rgb(149, 165, 166);
}
