html, body {
  margin: 0;
  padding: 0;
}

i {
  margin: 0 5px;
}

::-webkit-scrollbar {
  width: 0;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: repeating-linear-gradient(
    45deg,
    rgb(44, 62, 80),
    rgb(44, 62, 80) 4px,
    rgb(52, 73, 94) 4px,
    rgb(52, 73, 94) 8px
  );
  border-radius: 1px;
  box-shadow: 5px 1px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 3px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: repeating-linear-gradient(
    45deg,
    rgb(44, 62, 80),
    rgb(44, 62, 80) 4px,
    rgb(52, 73, 94) 4px,
    rgb(52, 73, 94) 8px
  );
  border: 1px solid #000;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: repeating-linear-gradient(
    45deg,
    rgb(44, 62, 80),
    rgb(44, 62, 80) 4px,
    rgb(52, 73, 94) 4px,
    rgb(52, 73, 94) 8px
  );
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -5px;
  width: 8px;
  height: 18px;
  background-color: rgba(255, 0, 0, 1);
  border: 1px solid #000;
}

input[type=range]:focus::-webkit-slider-thumb {
  border: 1px solid #000;
  border-radius: 3px;
  width: 12px;
}

input[type=range]:focus {
  outline: none;
}

.splitter {
  max-width: 85%;
  min-width: 85%;

  max-height: 1px;
  min-height: 1px;

  margin: 20px auto;

  border-bottom: 1px solid #666;
}

.head-container {
  width: 100%;
  height: 100%;

  overflow: hidden;

  background: repeating-linear-gradient(
    0deg,
    rgb(231, 76, 60),
    rgb(231, 76, 60) 2px,
    rgb(192, 57, 43) 2px,
    rgb(192, 57, 43) 4px
  );

  display: flex;
  flex-direction: column;
}

.no-select {
  -webkit-user-select: none;
}

.title-top {
  width: inherit;
  /*height: 25px;*/
  height: 0px;

  /*padding-top: 3px;*/
  padding-top: 0px;

  overflow: hidden;

  background: linear-gradient(rgb(39, 174, 96), rgba(24, 129, 80, 0.85));
  text-align: -webkit-center;

  transition: all 0.2s ease-in-out;

  -webkit-app-region: drag;

  z-index: 1;
}

.title-name {
  margin: 0 auto;
  font-size: 20px;
  height: inherit;
  font-family: 'Russo One', sans-serif;
}

.sidebar-top {
  width: inherit;
  height: 0px;

  overflow: hidden;
  background-color: rgba(24, 129, 80, 0.85);

  -webkit-user-select: none;

  z-index: 1;
}

.sidebar-button-list {
  width: inherit;
  height: inherit;

  margin: 0;
  padding: 0;

  display: -webkit-inline-box;
  list-style-type: none;
}

.sidebar-button {
  width: 33.333333333%;
  height: inherit;

  position: relative;

  font-family: 'Russo One', sans-serif;
}


.sidebar-button:hover {
  background-color: rgba(42, 93, 124, 0.75);
}

.tab-selected {
  background-color: rgba(40, 40, 40, 0.85) !important;
}

.sidebar-button div {
  height: 64px;

  font-size: 20px;
  color: white;
}

.sidebar-button div i {
  max-width: 24px;
  max-height: 24px;

  bottom: 20px;
}

.sidebar-button div span {
  width: 80%;
  height: 50%;

  top: 30px;
  text-align: center;
}

.top-tab {
  transition: 0.5s;
}

.magic-center {
  margin: auto;
  position: absolute;

  top: 0; left: 0; bottom: 0; right: 0;
}

.title-screen {
  width: 100%;
  height: 100%;

  position: fixed;

  top: 0;
  left: 0;

  padding: 0;
  z-index: 2;

  background-color: rgba(235, 235, 235, 1);

  opacity: 1;
}

#tsMain {
  font-size: 2.4em;
  position: absolute;
  top: 34%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  transition: 0.9s opacity linear;
  font-family: 'Russo One', sans-serif;
}

#tsSecond {
  width: 50%;
  font-size: 2.1em;
  position: absolute;
  top: 52%;
  left: 25%;
  opacity: 0;
  transition: 0.9s opacity linear;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

.slider {
  flex: 1;
  width: 300%;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
  transition: 0.4s left ease-in-out;
}

.slider-panel {
  width: inherit;
  height: inherit;

  display: flex;
}

.slider-tab {
  flex: 100%;
  overflow-y: auto;
}

/*  News  */
#tab-news {
  overflow-y: auto;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}

.news-list {
  width: 80%;
  max-width: 80%;
  padding-bottom: 20px;

  margin: 0 auto;
}

.news-list-item {
  margin-top: 20px;
  padding: 15px;

  box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.28);
  transition: all 0.2s ease-in-out;

  background-color: rgba(255, 255, 255, 0.8);

  overflow: hidden;

  font-family: 'Matias', sans-serif;
}

.news-list-item:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
}

.nli-top-p {
  display: flex;
  flex-direction: row;
  margin-top: 0;

  font-family: 'Russo One', sans-serif;
}

.nli-date-shade {
  float: right;

  color: rgba(60, 60, 60, 1);

  font-family: 'Russo One', sans-serif;
}

.nli-title {
  flex: 1;

  font-size: 1.5em;
  word-break: break-word;
}

.nli-text {
  overflow: hidden;
  word-break: break-word;
  text-align: -webkit-center;
  zoom: 0.75;
}

/*  Modpacks  */
#tab-modpacks {
  /*background-color: rgba(0, 255, 0, 0.5);*/
}

.modpacks-list {
  width: 80%;
  max-width: 80%;
  padding-bottom: 20px;

  margin: 0 auto;
}

.modpacks-item {
  max-height: 80px;
  margin-top: 20px;
  padding: 0;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;

  background-color: rgba(255, 255, 255, 0.8);

  overflow: hidden;
  border-radius: 2px;

  font-family: 'Matias', sans-serif;
}

.modpacks-item:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
}

.modpacks-item p {
  margin: 10px;
  word-wrap: break-word;
}

.modpacks-item-top-p {
  font-family: 'Russo One', sans-serif;

  margin: 0 !important;
  height: 80px;
}

.modpacks-item-top-p span {
  margin: 10px;
  font-size: 2.2em;
  line-height: 80px;
}

.modpacks-item-icon {
  /*width: 80px;*/
  width: auto;
  height: 80px;
  max-height: 200px;

  float: right;
  transition: 0.2s ease-in-out;
}

.modpack-desc {
  word-wrap: break-word;
}

.mods-list {
  list-style-type: square;
}

.ibtn {
  width: 40%;
  height: 5%;
  min-height: 50px;
  background: rgb(46, 204, 113);
  margin: 30px auto 10px;
  display: flex;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: ease-in-out;
}

.ibtn:hover {
  box-shadow: 2px 4px 6px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
}

.ibtn span {
  flex: 1;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  line-height: 2em;
  font-size: 1.4em;
  margin: auto 0;
}

.lbtn {
  background: rgb(52, 152, 219);
}

.ubtn {
  background: rgb(230, 126, 34);
}



/*  Settings  */
#tab-settings {
  /*background-color: rgba(0, 0, 255, 0.5);*/
  -webkit-user-select: none;
}

.settings-list {
  width: 60%;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2% 4% 3%;

  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
  border-radius: 2px;

}

.settings-page-title {
  font-size: 1.5em;
  font-family: 'Russo One', sans-serif;
}

#ram-selector p {
  margin: 8px 0;
}

#ram-selector p span, .settings-page p span, label {
  font-family: 'Russo One', sans-serif;
}

#ram-size {
  float: right;
}

.settings-slider {
  width: 100%;
}

.fading-pane {
  width: 100%;
  height: calc(100% - 28px);
  position: absolute;
  top: 28px;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.75);
  transition: ease-in-out .5s;
}

#download {
  display: flex;
}

.paper-pane {
  background: rgba(236, 240, 241, 0.9);
  width: calc(100% - 200px);
  height: 200px;
  flex: 1;
  margin: 16%;
  border-radius: 2px;
}

.paper-pane progress {
  display: block;
  margin: 70px auto 20px;
  width: 80%;
}

.paper-pane p {
  text-align: center;
  margin: 20px auto;
}

.top-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.7em;
}

.sub-top-title {
  font-family: sans-serif;
  font-size: 0.8em;
  color: gray;
}
